.form {

    fieldset {
        border: none;
        padding: 0;
        margin: 0 0 1em;
    }

    legend {
        font-weight: bold;
        margin-bottom: .5em;
    }

    .formRow {
        margin-bottom: 1em;
    }
}