.medication {
    input,
    select {
        width: 100%;
    }
}
.medHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .medName {
        flex-basis: 70%;
    }
    .medStrength {
        flex-basis: 30%;
        text-align: right;;
    }
}

.medDescription {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;

    .medFrequency {
        flex-basis: 70%;
        .isEditing & {
            display: flex;
        }
    }

    .medFrequencyAmt {
        flex-basis: 25%;
    }
    .medFrequencyUnit {
        flex-basis: 75%;
    }

    .medDoctor {
        flex-basis: 30%;
        text-align: right;

        input {
            display: inline-block;
            width: 100%;
        }
    }
}

.medActions {
    padding-top: 1em;
    border-top: 1px solid #CCC;
    margin-top: .5em;
    display: flex;
    justify-content: flex-end;
    
}